div{
    width: 100%;
    height: 720px;
}
.bg-box {
    background-image: url(images/pole-zelen-trava-dom-derevya.webp), url(images/green-png-44873.png), url(images/lamp-png-34914.png), url(images/3F3F.webp), url(images/58eb07b830eab15b56162788.png);
    background-color: green;
    background-position: center, bottom, top, left, right;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 520px, 300px, 50px, 30px, 30px;
}